<div class="footer">

  <a href="https://www.instagram.com/playing.with.the.pantones/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  <a href="https://www.pinterest.fr/Luciedehaut/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
  <a href="https://www.pinterest.fr/Luciedehaut/" target="_blank"><i class="fa-solid fa-envelope"></i></a>

</div>
